<!--Services-->
<section id="services">
  <div class="container">
    <div class="row text-center">
      
      <!--Seciton 1-->
      <div class="span4 home_box service">
				<%= image_tag "baby.jpg" %>
        <a href="#">
          <h3>Nueva área de pediatría</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </a>
      </div>
      
      <!--Seciton 2-->
      <div class="span4 home_box service">
				<%= image_tag "bike.jpg" %>
        <a href="#">
          <h3>El ejercicio puede salvar tu vida</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </a>

      </div>
      
      <!--Seciton 3-->
      <div class="span4 home_box service">
			<%= image_tag "doctor_sample.jpg" %>
        <a href="#">
          <h3>Conoce nuestro equípo médico</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </a>

      </div>
      
    </div>
  </div>
</section>


<%= render '/refinery/content_page' %>
